/* Importēti teksta fonti no Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
/* Background*/
#banner{
    background: linear-gradient(rgba(0,0,0,0.5),#B3CDD1), url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    height:100vh;
}
/* "Wunderlia Logo" */
.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}
/* Centrālais sveikuma teksts */
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}

.banner-text h1{
    font-size: 130px;
    font-family: 'Dancing Script', cursive;

}

.banner-text p{
    font-size: 30px;
    font-style: italic;
}

.banner-btn{
    margin: 70px auto 0 ;
}

.banner-btn a{
    width: 150px;
    text-decoration:none;
    display: inline-block;
    margin:0 10px;
    padding:12px 0;
    color:#fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
}

.banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.3s;
}

.banner-btn a:hover span{
    width: 100%;
}

.banner-btn a:hover{
    color:#000;
}
/* Navigācijas menu iestastījumi */
#sideNavigation{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #80ACB3;
    z-index: 2;
    transition: 0.3s;
}

nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}

#menuBtn{
    width: 50px;
    height: 50px;
    background: #80ACB3;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img{
    width: 20px;
    margin-top: 15px;   
}
@media screen and (max-width:770px){
    .banner-text h1{
        font-size: 44px;
    }
    .banner-btn a{
        display: block;
        margin: 20px auto;
    }
}

/*ABOUT ME*/

#aboutme{
    width: 100%;
    padding: 70px 0;
}

.title-text h1{
    font-size: 50px;
    letter-spacing: 5px;
    color: #000000;
    text-align: center;
}

.aboutme-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.about-me{
    flex-basis: 50%;
}

.about-me-img{
    flex-basis: 50%;
    margin: auto;
}

.about-me-img img{
    width: 70%;
    border-radius: 10px;
}
.about-me h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #80ACB3;
    font-size: 40px;
}

.aboutme-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    text-align: left;
}